html, body{
    height: 100%;
}

body{
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid-container{
    flex: none;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.squares{
    flex: auto;
}

.header{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.button-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

button{
    padding: 15px;
}

.draw-button:focus{
    background-color: black;
    color: white;
}

.erase-button:focus{
    background-color: black;
    color: white;
}