html, body{
    height: 100%;
}

body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.grid-container{
    flex: none;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.squares{
    flex: auto;
}

.header{
    font-size: 30px;
}