html, body{
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    flex: none;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.squares{
    flex: auto;
}